{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-6">
            <img class="w-100" src="{{ url_for('static', filename='covers/'+book.cover_image.name) }}" alt="">
        </div>
        <div class="col-6">
            <h3>{{ book.name }}, {{ book.year }} г.</h3>
            <h5>
                Жанры: 
                {% for bg in book.genres %} 
                <!-- таблица genres -->
                    {% for g in genres %}
                    <!-- связь -->
                        {% if bg.genre==g.id %}
                            <span>{{g.name}}</span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </h5>
            {{ '<br>'.join(md(book.description).split('\n')) | safe }}
        </div>
    </div>

    <!-- {% if can_write_review %}
    <div class="row my-3">
        <div class="d-flex justify-content-lg-start">
            <a class="col-2 btn btn-dark" href="{{ url_for('write_review', id=book.id) }}">Написать отзыв</a>
        </div>
    </div>
    {% endif %} -->

    <!-- <div class="row">
        <h4>Отзывы</h4>
        {% if reviews | length == 0 %}
        <p>Отзывов пока нет - станьте первым!</p>
        {% else %}
            {% for review in reviews %}
                <h6><b>{{ review.user_info.login }} ({{ review.user_info.name }} {{ review.user_info.patronymic }} {{ review.user_info.surname }})</b></h6>
                <h6>Дата: {{ review.date }}</h6>
                <h6>Оценка: {{ review.grade }}</h6>
                {{ '<br>'.join(md(review.text).split('\n')) | safe }}
            {% endfor %}
        {% endif %}
    </div> -->
</div>

{% endblock %}